<!doctype html>
<html lang="en" style="background-color:black;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <title>Hello</title>
</head>
<body>
   <h3 style="text-align:center; font-size:15em;color:green;">￥<span id="amount">0</span></h3>
   <h5 style="text-align:center; font-size:5em;color:green">+<span id="diff">0</span></h5>
   <script>
       var previous = 0;
       var player = new Audio("/static/drop.mp3")
       function getAmount() {
           $.get("/amount", function(res) {
                let now = parseInt(res)
                if(now !== previous) {
                   diff = now - previous;
                   $("#diff").text(diff);
                   player.play()
                   previous = now
                }
                $("#amount").text(res)
           })
       }

       $(document).ready(() => {
            setInterval(function() {
                getAmount()
            }, 5000)
       })
  </script>
</body>
</html>